//helper class

.darkblue-cl {
  color: $darkblue-cl !important;
}

.darkblue-bg {
  background-color: $darkblue-cl !important;
  color: $light-cl !important;
}

.lightblue-cl {
  color: $lightblue-cl !important;
}

.light-cl {
  color: $light-cl !important;
}

.light-bg {
  background-color: $light-cl !important;
  color: $darkblue-cl !important;
}

//placeholders
