//Main Container Div
.container {
  width: 80%;
  max-width: 45rem;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: $xs_width) {
    width: 90%;
  }
}
