$basic-fz: 15px !default;

//colors
$blue-cl: #3a9ba2 !default;
$gray-cl: #f2f9f9 !default;
$dark-cl: #2b5464 !default;
$darker-cl: #1f2729 !default;
$green-cl: #8eaf04 !default;

//font families
$main-ff: "Cairo", "Segoe UI", "Segoe WF", "Segoe Regular" !default;

// Media Queries
$xs-width: 767px;
