$basic-fz: 15px !default;

//colors
$darkblue-cl: #363873 !default;
$lightblue-cl: #6101ff !default;
$light-cl: #f8f8f8 !default;

//font families
$main-ff: "Cairo", "Segoe UI", "Segoe WF", "Segoe Regular" !default;

// Media Queries
$xs-width: 767px;
